HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.mvn/

### VS Code ###
.vscode/


# lab credentials should be kept locally uncommited
osb-cmdb-broker_manifest.yml
test-locally.bash
*.bats
recent.txt
requests.txt